body
{
    font-family: 'Roboto', sans-serif;

    background: #f1f1f1;
}
.header
{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;

    -webkit-animation-name: headeranimation;
       -moz-animation-name: headeranimation;
            animation-name: headeranimation;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-play-state: paused;
       -moz-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation-timing-function: ease;
       -moz-animation-timing-function: ease;
            animation-timing-function: ease;

    background-position: center center;
    background-size: cover;

            animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
}

@keyframes headeranimation
{
    to
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@-webkit-keyframes headeranimation
{
    to
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@-moz-keyframes headeranimation
{
    to
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

h1
{
    margin: 0 0 20px 0;

    color: rgba(10, 10, 10, .6);
}

div.form-group
{
    margin-bottom: 0;
}

div.form-group > input.form-control.input-lg
{
    border: 1px solid #fff;
    box-shadow: none;
}

div.form-group > input.form-control.input-lg:focus
{
    border: 1px solid #666;
}

.search-bar-content
{
    text-align: center;
}

.image-item
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.image-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.image-item img
{
    width: 50%;
}

.meta-info {
    display: block;
}

.loading
{
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin: 20px auto 0 auto;

    -webkit-animation: spinner 1s ease infinite;
       -moz-animation: spinner 1s ease infinite;
            animation: spinner 1s ease infinite;

    border: 8px solid rgba(196, 196, 196, .75);
    border-right-color: transparent;
    border-radius: 50%;
}

@keyframes spinner
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}
